/* -------- Variables -------- */
:root {
    --bg-color: #131325;
    --section-color: #242f3d;
    --text-color: #c4c4ff;
    --accent-color: #32e67f;
    --shadow-color: rgb(64, 64, 90);
    --shadow-color-2: rgba(0, 0, 0, 1);
}

/* -------- General -------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', 'Inter', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 50px 0;
}

h1 {
    font-size: 46px;
    text-align: center;
    color: var(--text-color);
}
 
h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: var(--text-color);
}

/* -------- Drop down -------- */
.menu-button {
    position: fixed;
    top: 10px;
    left: 15px;
    background: none ;
    border: none;
    padding: 0;
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
    anchor-name: --menu-button;
}

.menu-icon {
    width: 25px;
    filter: invert(1);
}

#menu{
    font-size: 18px;
    width: max-content;
    height: max-content;
    min-width: 150px;
    background: var(--section-color);
    border: none;
    border-radius: 0px 10px 10px 10px;
    padding: 5px 10px;
    position-anchor: menu-button;
    top: anchor(bottom);
    left: anchor(left);
}

#menu:popover-open {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#menu a {
    color: var(--text-color);
    font-weight: 700;
    text-decoration: underline 2px;
}

/* -------- Languages -------- */
.learn-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    max-width: 660px;
    margin: 20px 0;
    background-color: var(--section-color);
    padding: 20px;
    border-radius: 15px;
    align-items: center;
}

.learn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.learn-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1d1d3b;
    padding: 10px;
    width: 300px;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
    text-decoration: none;
    color: var(--text-color);
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
}

.learn-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px var(--shadow-color-2);
}

.learn-item img {
    width: 70px;
    margin-bottom: 5px;
    border-radius: 12px;
    object-fit: cover;
}

.learn-item span {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}